.navbar span {
  color: white;
  padding-right: 1em;
  padding-left: 1em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #266dd6; }

  h1{
    text-align: center;
    margin-top: 4em;
  }
  .me-auto {
    margin-right: 0 !important;
  }